<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="top-questions">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/a1-meater-range">
      	<p class="a2-question-text">What is the range of MEATER?</p>
      </a>
    </div>
    <div class="col-sm">
      <a href="/a1-specs-dimensions">
	      <p class="a2-question-text">What are the temperature specs and other dimensions for MEATER?</p>
	    </a>
    </div>
    <div class="col-sm">
    	<a href="/a1-meater-delivery">
        <p class="a2-question-text">How quickly can MEATER be delivered?</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
    	<a href="/a1-meater-usage">
        <p class="a2-question-text">How can I use MEATER?</p>
      </a>
    </div>
    <div class="col-sm">
    	<a href="/a1-meater-block-availability">
        <p class="a2-question-text">When will the Block be released?</p>
      </a>
    </div>
    <div class="col-sm">
    	<a href="/a1-block-probe-shipping">
        <p class="a2-question-text">Can you ship the Block probes now?</p>
      </a>
    </div>
  </div>
</div>
</div>


<%- include footer.ejs %>
