<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="a1-thankyou">
<div class="container">
  <div class="row">
    <div class="a1-thank-you-content">
      <img src="/i/a1-thankyou-tick.png" class="" />
      <h3 class="">THANK YOU</h3>
      <a href="/support" class="" >Here’s a link to other Frequently Asked Questions</a>
    </div>
  </div>
</div>
</div>


<%- include footer.ejs %>
