<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="a2-press-type">
<div class="container">
	<div class="row">
	    <div class="w100 press-type-content">
	    	<h3>I am a...</h3>
	    </div>
	</div>
</div>
<div id="top-questions" class="container">
	<div class="row">
	    <div class="w100 col-12">
	    	<div class="col-sm">
		      <a href="/a2-journalist-form">
		      	<p class="a2-question-text">Journalist</p>
		      </a>
		    </div>
    <div class="col-sm">
      <a href="/a2-influencer-form">
	      <p class="a2-question-text">Influencer</p>
	    </a>
    </div>
	</div>
	</div>
</div>
</div>


<%- include footer.ejs %>
