<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>
<h2 id="order-tracking-title">I would like to cancel my order.</h2>
<div id="order-tracking">
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <p class="">There is a limited amount of time for us to cancel orders placed in the USA and Canada before our fulfillment company begins processing them. Once they begin processing the order, it is almost always impossible for us to stop a delivery attempt. The window for cancelling an order can be as small as 30 minutes. For orders that are delivered and returned there may be a 15% restocking fee.</p>
    </div>
  </div>
</div>

<div id="a1-bottom-links" class="container">
  <div class="row">
      <div class="w100">
        <h3>Are you ready to attempt to cancel your order?</h3>
        <div class="col-lg-12">
          <a href="/a3-order-cancellation-form" class="btn btn-primary bottom-support-btns">Yes</a>
          <a href="/a3-orders-select" class="btn btn-primary bottom-support-btns">Not Yet</a>
        </div>
        <!-- <a href="/support" class="" >Here’s a link to other Frequently Asked Questions ></a> -->

      </div>
  </div>
</div>
</div>


<%- include footer.ejs %>
