<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>
<h2 id="order-select-title">General Product Inquiry</h2>
<div id="order-select">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/a3-order-tracking">
      	<p class="a2-question-text">I would like tracking information</p>
      </a>
    </div>
    <div class="col-md-12">
      <a href="/a3-order-return">
	      <p class="a2-question-text">I would like to return my MEATER</p>
	    </a>
    </div>
    <div class="col-md-12">
    	<a href="/a3-order-cancellation">
        <p class="a2-question-text">I would like to cancel my order</p>
      </a>
    </div>
     <div class="col-md-12">
    	<a href="/a3-order-status">
        <p class="a2-question-text">What is the status of my order?</p>
      </a>
    </div>
    <div class="col-md-12">
    	<a href="/a3-order-request-form">
        <p class="a2-question-text">I have a different request</p>
      </a>
    </div>
  </div>
</div>
</div>


<%- include footer.ejs %>
