<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>
<h2 id="order-select-title">Sales</h2>
<div id="order-select">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/a4-sales-meater-order-form">
      	<p class="a2-question-text">Purchase MEATER Block for business</p>
      </a>
    </div>
    <div class="col-md-12">
      <a href="/a4-sales-meater-order-form">
	      <p class="a2-question-text">Purchase MEATER Block for my business</p>
	    </a>
    </div>
  </div>
</div>
</div>


<%- include footer.ejs %>
