<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>
<div id="a5-ts-connectivity">
<div id="" class="container no-spacing">
  <div class="row">
      <div class="w100 content-center section-spacer">
        <h3>Used MEATER Previously</h3>
      </div>
      <div class="w100 section-spacer connectivity-list">
        <p class="">1. Please make sure your MEATER has charged at least 5 hours. <br/>
                    2. Please make sure your App is up to date.<br/>
                    3. Check for the charger’s green light with the probe in the charger.<br/>
                    4. Remove the probe from the charger.<br/>
                    5. Use the in app pairing and not your phones default Bluetooth.</p>
      </div>
      <div class="col-lg-12 app-logos section-spacer">
        <a href="#" class=""><img src="/i/appstore-logo.jpg" /></a>
        <a href="#" class=""><img src="/i/googleplay-logo.jpg" /></a>
      </div>
  </div>
</div>

<div id="" class="container no-spacing">
  <div class="row">
      <div class="w100 content-center section-spacer">
        <h3>My MEATER was pairing before but won’t now!</h3>
      </div>
      <div class="w100 section-spacer connectivity-list">
        <p class="">After cooking with MEATER you can sometimes build up a barely visible layer of grime on the ambient tip (the square metal cap). This can prevent your MEATER from charging properly when placed in its charging cradle.  If you are having problems connecting to your MEATER we recommend cleaning the ambient tip with some hot water and the rough side of a sponge. No need to be gentle! This grime can be tough to clear.
For more information on this issue please see our video on how to properly clean your MEATER: Youtube link.</p>
      </div>
  </div>
</div>

<div id="" class="container no-spacing">
  <div class="row">
      <div class="w100 section-spacer connectivity-list">
        <p class="">If you have used your MEATER with another device then the issue could be that your previous device is still connected to your MEATER over Bluetooth preventing you from finding your MEATER on your current device. To fix this you can try one of the following techniques:</p>
<ol class="list-group" style="text-indent: -1em;">
<li class="list-group-item">a) unpair your MEATER probe from any previously used devices.</li>
<li class="list-group-item">b) ensure the MEATER app is not running (including in the background) on any other devices.</li>
<li class="list-group-item">c) take your MEATER and current device far away from other devices so that the Bluetooth connection with your other device is interrupted.</li> 
<li class="list-group-item">d) Ensure MEATER Link is enabled on both devices and both are on the same WiFi network, then you should be able to pair with your MEATER over MEATER Link.</li>
</ol>
 
 </p>
      </div>
  </div>
</div>

<div id="a1-bottom-links" class="container">
  <div class="row">
      <div class="w100">
        <h3>Do you need more help?</h3>
        <a href="/support" class="" >Here’s a link to other Frequently Asked Questions ></a>
        <div class="col-lg-12">
          <a href="#" class="btn btn-primary bottom-support-btns" onclick="history.back(-1)"><i class="fas fa-chevron-left"></i> Go Back</a>
          <a href="/" class="btn btn-primary bottom-support-btns"><i class="fas fa-undo-alt"></i> Start Over</a>
          <a href="/a1-contact-form" class="btn btn-primary bottom-support-btns"><i class="far fa-envelope"></i> Contact Us</a>
        </div>
      </div>
  </div>
</div>

</div>



<%- include footer.ejs %>
