<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>
<h2 id="order-select-title">Technical Support</h2>
<div id="top-questions">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/a5-technical-support-range-a3">
      	<p class="a2-question-text">Range</p>
      </a>
    </div>
    <div class="col-sm">
      <a href="/a5-technical-support-connectivity-b3">
	      <p class="a2-question-text">Connectivity</p>
	    </a>
    </div>
    <div class="col-sm">
    	<a href="/a5-technical-support-results-c3">
        <p class="a2-question-text">Results</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
    	<a href="/a5-technical-support-temperature-sensors-d3">
        <p class="a2-question-text">Temperature Sensors</p>
      </a>
    </div>
    <div class="col-sm">
    	<a href="/a5-technical-support-app-assistance-e3">
        <p class="a2-question-text">App Assistance</p>
      </a>
    </div>
    <div class="col-sm">
    	<a href="/a5-technical-support-other-f3">
        <p class="a2-question-text">Other</p>
      </a>
    </div>
  </div>
</div>
</div>


<%- include footer.ejs %>
