<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="a2-press-type">
<div class="container">
  <div class="row">
      <div class="w100 press-type-content">
        <h3>Internal Sensor</h3>
        
      </div>
  </div>
</div>
<div id="sub-questions-1" class="container">
  <p class="">My MEATER’s internal sensor does not seem to be accurate.</p>
  <div class="row">
      <div class="col-sm col-lg-6 col-sm-12">
          <a href="/a5-technical-support-temperature-sensors-d5">
            <p class="a2-question-text">Yes</p>
          </a>
        </div>
        <div class="col-sm col-lg-6 col-sm-12">
          <a href="/a5-technical-support-temperature-sensors-d5">
            <p class="a2-question-text">No</p>
          </a>
        </div>
  </div>
</div>

<div id="sub-questions-2" class="container">
  <p class="">Do you have other issues?</p>
  <div class="row">
      <div class="col-sm col-lg-6 col-sm-12">
          <a href="/a5-technical-support-temperature-sensors-d5">
            <p class="a2-question-text">Yes</p>
          </a>
        </div>
        <div class="col-sm col-lg-6 col-sm-12">
          <a href="/">
            <p class="a2-question-text">No</p>
          </a>
        </div>
  </div>
</div>

</div>



<%- include footer.ejs %>
