<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="a5-specs-range">

<div id="" class="container no-spacing">
  <div class="row">
      <div class="w100 content-center section-spacer">
        <h3>>What are the temperature specs and other dimensions for MEATER?</h3>
      </div>
      <div class="w100 content-center section-spacer">
        <img src="/i/a1-meater-range-icons-smoker.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-kettle.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-gas.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-kamado.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-oven.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-rotisserie.png" alt="" class="" />
      </div>
  </div>
</div>

<div id="" class="container">
  <div class="row">
      <div class="col-lg-12"><h3>Do you need longer range?</h3></div>
      <div class="col-lg-12">
        <a href="#" class="btn btn-primary ts-range-btns"><i class="fas fa-chevron-left"></i>Yes</a>
        <a href="#" class="btn btn-primary ts-range-btns"><i class="fas fa-undo-alt"></i>No</a>
      </div>
    </div>
</div>

<div id="a1-bottom-links" class="container">
  <div class="row">
      <div class="w100">
        <h3>Do you need more help?</h3>
        <a href="/support" class="" >Here’s a link to other Frequently Asked Questions ></a>
        <div class="col-lg-12">
          <a href="#" class="btn btn-primary bottom-support-btns" onclick="history.back(-1)"><i class="fas fa-chevron-left"></i> Go Back</a>
          <a href="/" class="btn btn-primary bottom-support-btns"><i class="fas fa-undo-alt"></i> Start Over</a>
          <a href="/a1-contact-form" class="btn btn-primary bottom-support-btns"><i class="far fa-envelope"></i> Contact Us</a>
        </div>
      </div>
  </div>
</div>
</div>


<%- include footer.ejs %>
