<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="a2-press-type">
<div class="container">
  <div class="row">
      <div class="w100 press-type-content">
        <h3>Technical Support</h3>
      </div>
  </div>
</div>
<div id="top-questions" class="container">
  <div class="row">
      <div class="w100 col-12">
        <div class="col-sm">
          <a href="/a5-technical-support-sensors-d4-2">
            <p class="a2-question-text">Ambient Sensor</p>
          </a>
        </div>
    <div class="col-sm">
      <a href="/a5-technical-support-sensors-d4-1">
        <p class="a2-question-text">Internal Sensor</p>
      </a>
    </div>
  </div>
  </div>
</div>
</div>



<%- include footer.ejs %>
