<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="a2-press-type">
<div class="container">
  <div class="row">
      <div class="w100 press-type-content">
        <h3>Ambient Sensor</h3>
        
      </div>
  </div>
</div>

<div id="sub-para-1" class="container">
  <p class="">My MEATER’s internal sensor does not seem to be accurate.</p>
  <div class="row">
      <div class="col-lg-12">
          <p class="">If your internal temperature is nearing close to that of the ambient temperature, the ambient may not display/displays a '-' symbol. We are constantly looking for ways to improve our algorithms and do apologise for any inconvenience this may have caused/will cause during your cook.</p>
          <p class="">Moving forward from this, to test the ambient sensor is working still you can do a simple test at home:</p>
          <p class="">- Connect to the probe to simulate a cook.</p>
          <p class="">- In a cup, add hot water and stir this well.</p>
          <p class="">- Place the ambient tip ONLY of the MEATER Probe in the water.</p>
          <p class="">If the ambient sensor does appear then we know that the probe is working correctly.</p>
      </div>
  </div>
</div>

<div id="sub-questions-2" class="container">
  <p class="">Did this resolve your issue?</p>
  <div class="row">
      <div class="col-sm col-lg-6 col-sm-12">
          <a href="/">
            <p class="a2-question-text">Yes</p>
          </a>
        </div>
        <div class="col-sm col-lg-6 col-sm-12">
          <a href="/a5-technical-support-temperature-sensors-d5">
            <p class="a2-question-text">No</p>
          </a>
        </div>
  </div>
</div>

</div>



<%- include footer.ejs %>
