<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="a2-press-type">

<div id="sub-questions-1" class="container">
  <h3 class="section-spacer">Technical Support</h3>
  <div class="row">
    <div class="col-sm col-lg-6 col-sm-12">
      <a href="/a5-technical-support-temperature-sensors-d4-2">
        <p class="a2-question-text">Ambient Sensor</p>
      </a>
    </div>
    <div class="col-sm col-lg-6 col-sm-12">
      <a href="/a5-technical-support-temperature-sensors-d4-1">
        <p class="a2-question-text">Internal Sensor</p>
      </a>
    </div>
  </div>
</div>
</div>



<%- include footer.ejs %>
