<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="a2-press-type">
<div class="container">
  <div class="row">
      <div class="w100 press-type-content">
        <h3>I cannot connect to MEATER</h3>
      </div>
  </div>
</div>

<div id="sub-questions-1" class="container">
  <div class="row">
    <div class="col-sm col-lg-6 col-sm-12">
          <a href="/a5-technical-support-connectivity-b4-2">
            <p class="a2-question-text">First Time Using</p>
          </a>
        </div>
    <div class="col-sm col-lg-6 col-sm-12">
      <a href="/a5-technical-support-connectivity-b4-1">
        <p class="a2-question-text">Used MEATER Previously</p>
      </a>
    </div>
  </div>
</div>

</div>



<%- include footer.ejs %>
