<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<div id="a5-specs-range">

<div id="" class="container no-spacing">
  <div class="row">
      <div class="w100 content-center section-spacer">
        <h3>What are the temperature specs and other dimensions for MEATER?</h3>
      </div>
      <div class="w100 content-center section-spacer">
        <img src="/i/a1-meater-range-icons-smoker.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-kettle.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-gas.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-kamado.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-oven.png" alt="" class="" />
        <img src="/i/a1-meater-range-icons-rotisserie.png" alt="" class="" />
      </div>
  </div>
</div>

<div id="" class="container section-spacer">
  <div class="row">
      <div class="col-lg-12"><h3>Do you need longer range?</h3></div>
      <div class="col-lg-12">
        <a href="#" class="btn btn-primary ts-range-btns"> Yes</a>
        <a href="#" class="btn btn-primary ts-range-btns"> No</a>
      </div>
    </div>
</div>

<div id="" class="container">
  <div class="row">
      <div class="w100 content-center _section-spacer">
        <img src="/i/meater-link-wifi-logo.png" alt="" class="img-fluid" />
      </div>
      <div class="w100 content-center section-spacer">
        <img src="/i/a1-meater-link-wifi-gfx.jpg" alt="" class="img-fluid" />
        <p class="link-wifi-font-size">Up to 165ft / 50m<br/>
              typical wireless range<br/>
            *second device required
        </p>
      </div>
  </div>
</div>

<div id="" class="container">
  <div class="row">
      <div class="w100 content-center _section-spacer">
        <img src="/i/a1-meater-link-cloud-gfx.jpg" alt="" class="img-fluid" />
        <p class="link-wifi-font-size"><span class="" style="font-size: 3em;">∞*</span><br/>typical wireless range<br/>*wherever you have phone reception</p>

      </div>
  </div>
</div>

<div id="" class="container">
  <div class="row">
      <div class="w100 content-center section-spacer">
        <p class="link-wifi-font-size">To increase your range you can use MEATER Link to connect your MEATER probe 
to your WiFi network, so that you can monitor your cook across multiple devices from anywhere in your house.</p>
      </div>
  </div>
</div>

<div id="" class="container section-spacer">
  <div class="row">
      <div class="col-lg-12"><h3>How to set up MEATER Link</h3></div>
      <ul class="link-setup-list list-group">
        <li class="list-group-item"><span class="meater-link-setup"><img src="/i/a5-meater-link-setup-1.jpg" alt="" class="img-fluid" /></span>1. Connect your smart device that is 
paired with MEATER to your WiFi network.
</li>
        <li class="list-group-item"><span class="meater-link-setup"><img src="/i/a5-meater-link-setup-2.jpg" alt="" class="img-fluid" /></span>2. Open the MEATER app and make sure the 
MEATER Link feature is enabled in the settings menu.
</li>
        <li class="list-group-item"><span class="meater-link-setup"><img src="/i/a5-meater-link-setup-3.jpg" alt="" class="img-fluid" /></span>3. Open the MEATER app on your additional smart devices, and search for your MEATER probe. Tap on the probe you want to pair with, and it’s cook information will appear on your device.
</li>
        <li class="list-group-item"><span class="meater-link-setup"><img src="/i/a5-meater-link-setup-4.jpg" alt="" class="img-fluid" /></span>4. Go back to the main screen of the app and make sure that there is a small Bluetooth icon on the left side of your cook screen.
</li>
        <li class="list-group-item"><span class="meater-link-setup"><img src="/i/a5-meater-link-setup-5.jpg" alt="" class="img-fluid" /></span>5. Once your probe is paired with your secondary device, you should see the MEATER Link icon to the left of your cook screen, where the Bluetooth icon appears on your primary device.
</li>
      </ul>
</div>

<div id="a1-bottom-links" class="container">
  <div class="row">
      <div class="w100">
        <h3>Do you need more help?</h3>
        <a href="/support" class="" >Here’s a link to other Frequently Asked Questions ></a>
        <div class="col-lg-12">
          <a href="#" class="btn btn-primary bottom-support-btns" onclick="history.back(-1)"><i class="fas fa-chevron-left"></i> Go Back</a>
          <a href="/" class="btn btn-primary bottom-support-btns"><i class="fas fa-undo-alt"></i> Start Over</a>
          <a href="/a1-contact-form" class="btn btn-primary bottom-support-btns"><i class="far fa-envelope"></i> Contact Us</a>
        </div>
      </div>
  </div>
</div>
</div>


<%- include footer.ejs %>
