<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>
<div id="a5-ts-connectivity">
<div id="" class="container no-spacing">
  <div class="row">
      <div class="w100 content-center section-spacer">
        <h3>My meat is undercooked</h3>
      </div>
      <div class="w100 section-spacer connectivity-list">
        <p class="">Probe placement is key:</p>
        <p class="">The internal temperature sensor in the MEATER probe is located roughly one third of the way up the probe (starting from the pointy end). It is important that this section of the probe is in the center of the thickest part of the meat you plan to cook.</p>
      </div>
      <div class="col-lg-12 app-logos">
        <img src="/i/a5-internal-sensor-placement.jpg" class="img-fluid" />
      </div>
  </div>
</div>

<div id="" class="container section-spacer">
  <div class="row">
      <div class="w100 section-spacer connectivity-list">
        <p class="">The MEATER probe must be inserted so that the surface of the meat is positioned between the safety notch and the ambient tip.The internal sensor must be inserted into the middle of the thickest part of the meat. Identify the thickest part of your meat, making sure to avoid any bones or large pieces of fat. Hold the probe up to the meat to find the best insertion point. You’ll know you’ve found the right spot when the safety notch can be completely inserted into the steak. Insert the probe, taking care to ensure that it is in the center of the meat.</p>
      </div>
  </div>
</div>

<div id="" class="container no-spacing">
  <div class="row">
    <div class="w100 content-center section-spacer">
        <h3>Resting your meat</h3>
      </div>
      <div class="w100 connectivity-list">
        <p class="">If you are using MEATER’s guided cook feature then you may have noticed that you are asked to remove your meat from your oven / /grill before it reaches your target temperature. This is because MEATER calculates the temperature rise your meat will achieve after being remove from heat, the carry-over temperature. When resting your meat using MEATER it is important to place the meat on a chopping board or wire rack and leave it at room temperature. Temperatures that are too high or too low can cause the meat to slightly undercook or overcook.</p>
      </div>
  </div>
</div>

<div id="a1-bottom-links" class="container">
  <div class="row">
      <div class="w100">
        <h3>Do you need more help?</h3>
        <a href="/support" class="" >Here’s a link to other Frequently Asked Questions ></a>
        <div class="col-lg-12">
          <a href="#" class="btn btn-primary bottom-support-btns" onclick="history.back(-1)"><i class="fas fa-chevron-left"></i> Go Back</a>
          <a href="/" class="btn btn-primary bottom-support-btns"><i class="fas fa-undo-alt"></i> Start Over</a>
          <a href="/a1-contact-form" class="btn btn-primary bottom-support-btns"><i class="far fa-envelope"></i> Contact Us</a>
        </div>
      </div>
  </div>
</div>

</div>



<%- include footer.ejs %>
