<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/i/favicon.ico">
<meta name="description" content="The First Truly Wireless Smart Meat Thermometer">
<link href="/css/styles.css?v=1" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<!-- Bootstrap minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<!-- Bootstrap minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script defer src="/js/jquery.min.js"></script>
<script defer src="/js/spin.min.js"></script>
<script defer src="/js/scripts.js?v=2"></script>
<script defer src="/js/youtube.js"></script>

<script type="application/ld+json">
{
    "@context" : "//schema.org",
    "@type" : "Organization",
    "name": "MEATER",
    "url" : "https://meater.com/",
    "address": {
    "@type": "PostalAddress",
    "addressLocality": "Encino, California USA",
    "postalCode": "91604",
    "streetAddress": "11908 Ventura Blvd. Suite 202"
    },
    "email": "hello(at)apptionlabs.com",
    "contactPoint" : [
    {
    "@type" : "ContactPoint",
    "telephone" : "+1 (818) 570-0293",
    "contactType" : "US customer service"
    } ] }
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67887322-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-67887322-1', {
    'linker': {
      'domains': ['meater.com','store.meater.com','ukstore.meater.com','usstore.meater.com','austore.meater.com']
    }
  });
  gtag('config', 'AW-827036532', {
      'linker': {
        'domains': ['meater.com','store.meater.com','ukstore.meater.com','usstore.meater.com','austore.meater.com']
      }
  });
</script>

<!-- Start of apptionlabs Zendesk Widget script -->
<script>/*<![CDATA[*/window.zE||(function(e,t,s){var n=window.zE=window.zEmbed=function(){n._.push(arguments)}, a=n.s=e.createElement(t),r=e.getElementsByTagName(t)[0];n.set=function(e){ n.set._.push(e)},n._=[],n.set._=[],a.async=true,a.setAttribute("charset","utf-8"), a.src="https://static.zdassets.com/ekr/asset_composer.js?key="+s, n.t=+new Date,a.type="text/javascript",r.parentNode.insertBefore(a,r)})(document,"script","c039567f-67ed-40d3-8597-3501f2892c1a");/*]]>*/</script>
<!-- End of apptionlabs Zendesk Widget script -->

<title>MEATER Official Customer Support Website – <%= (pageTitle) ? pageTitle : 'Homepage'; %></title>
</head>
<body>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1741411235877623');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" alt=""
  src="https://www.facebook.com/tr?id=1741411235877623&amp;ev=PageView&amp;noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
