<div id="footer">
<ul>
<li><a href="/blog/">Blog</a></li>
<li><a href="/support/">Support</a></li>
<li><a href="/shop/">Shop</a></li>
<li><a href="/about-us/">About us</a></li>
</ul>
<ul>
<li><a href="/contact-us/">Contact us</a></li>
<li><a href="/warranty-returns/">Warranty</a></li>
<li><a href="/privacy-policy/">Privacy policy</a></li>
<li><a href="/terms-of-use/">Terms of use</a></li>
</ul>

<div id="social-links">
<p>Let's socialize:</p>
<ul>
<li><a href="https://www.facebook.com/meatermade"><img src="/i/facebook-icon.svg" alt="MEATER on Facebook"></a></li>
<li><a href="https://www.instagram.com/meatergram"><img src="/i/instagram-icon.svg" alt="MEATER on Instagram"></a></li>
<li><a href="https://www.youtube.com/c/meater"><img src="/i/youtube-icon.svg" alt="MEATER on YouTube"></a></li>
<li><a href="https://twitter.com/MEATERmade"><img src="/i/twitter-icon.svg" alt="MEATER on Twitter"></a></li>
</ul>
</div>

<form action="/newsletter-subscribe" method="post" id="footer-newsletter-form">
<label for="email">Keep up to date with our newsletter</label><br>
<input type="email" name="email" id="email">
<div class="submit-container">
<button type="submit" value="Sign Up">Subscribe</button>
</div>
</form>

<p id="copyright">© 2018. All rights reserved. MEATER® and Apption Labs, Inc. are registered trademarks of Apption Labs. Patent Pending.<br>
The Bluetooth® word mark and logos are registered trademarks owned by Bluetooth SIG, Inc., and any use of such marks by Apption Labs is under license.</p>

</div>

</div>
<div id="player"><div></div></div>
<%- include basic-footer.ejs %>
