<%-include header.ejs %>

<div id="hero">
<div id="hero-intro">
<h1>Contact Us</h1>
</div>
</div>

<h2 id="question-type">What kind of question do you have?</h2>


<div id="top-questions">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 question-block">
      <a href="/a1-general-enquiry">
      	<img src="/i/a1-general-enquiry-icon.png" />
      	<p class="a1-question-text">General Product Inquiry</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 question-block">
      <a href="/a2-press-type-select">
        <img src="/i/a1-press-influencers-icon.png" />
        <p class="a1-question-text">Press and Influencers</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 question-block">
      <a href="/a3-orders-select">
        <img src="/i/a1-orders-icon.png" />
        <p class="a1-question-text">Orders</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 question-block">
      <a href="/a4-sales-select-1">
        <img src="/i/a1-sales-icon.png" />
        <p class="a1-question-text">Sales</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 question-block">
      <a href="/a5-technical-support-a2">
        <img src="/i/a1-technical-support-icon.png" />
        <p class="a1-question-text">Technical Support</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 question-block">
      <a href="/a6-suggestions-form">
        <img src="/i/a1-suggestions-icon.png" />
        <p class="a1-question-text">Suggestions</p>
      </a>
    </div>
  </div>
</div>
</div>


<%- include footer.ejs %>
